<div class="container-fluid container-fluid-custom">
  <div class="about-features-container">
    <div class="about-features">
      <h1>
        <img src="/img/stars.svg" width="20px" />
        About
      </h1>
      <p>
        Write your thoughts down as they come to you . Notes is a simple to use
        free note taking app made with Node.JS EJS & MongoDB .📝
      </p>
      <br />
      <h1>
        <img src="/img/stars.svg" width="20px" />
        Features
      </h1>
      <ul>
        <li>Attractive Front page</li>
        <li>Google Authentication</li>
        <li>Search</li>
        <li>Pagination</li>
        <li>View Notes</li>
        <li>Create Notes</li>
        <li>Update Notes</li>
        <li>Delete Notes</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="/img/background.png" />
    </div>
  </div>
</div>
